<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>rShorter</title>
    <meta name="description" content="A url shortener as challenge globo.com's selection process">
    <meta name="author" content="Rafael Floriano da Silva">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css">
    <style type="text/css">
    body {
        padding-top: 40px;
    }
    </style>

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    {% block extrahead %}{% endblock %}
</head>

<body>
    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a class="brand" href="{% url home-url %}">rShorter</a>
                <ul class="nav">
                    <li class="active"><a href="{% url home-url %}">Home</a></li>
                    <li><a href="{% url about-url %}">Sobre</a></li>
                    <li><a href="{% url contact-url %}">Contato</a></li>
                </ul>
                {% if user.is_authenticated %}
                    <p class="pull-right">Logado como: {{ user }} | <a href="{% url logout-url %}">sair</a></p>
                {% else %}
                    <p class="pull-right">
                        <a href="{% url login-url %}">Login</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        {% if message %}
            <div class="alert-message block-message {{ message_type }}">
                <p>{{ message }}</p>
            </div>
        {% endif %}

        {% block content %}{% endblock %}

        <footer>
            <p>&copy; rfloriano.com</p>
        </footer>

    </div> <!-- /container -->

</body>
</html>
